.wrapper {
  margin: 0 auto;
}

.search {
  --height-search: 36px;
  display: flex;
  width: 200px;
  height: var(--height-search);
  border-radius: calc(var(--height-search) / 2);
  background: var(--third);
  position: relative;

  .search-input {
    border: none;
    outline: none;
    height: 100%;
    width: 100%;
    border-radius: inherit;
    font-size: 1.4rem;
    flex: 1;
    padding: 0 0px 0 16px;
    background: transparent;
    caret-color: var(--primary);
  }

  .search-input:not(:placeholder-shown) ~ .search-btn {
    color: var(--primary);
  }

  .load,
  .clear {
    background: transparent;
    color: var(--shadow);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 40px;
    width: 16px;
    height: 16px;
  }
  .clear {
    cursor: pointer;
  }
  .load {
    animation: spinner 0.8s linear infinite;
  }

  @keyframes spinner {
    from {
      transform: translateY(-50%) rotate(0);
    }
    to {
      transform: translateY(-50%) rotate(360deg);
    }
  }
  .search-btn {
    color: var(--shadow);
    background: transparent;
    cursor: pointer;
    font-size: 1.6rem;
    padding: 0 10px 0 8px;
    margin-left: 28px;
  }

  &::after {
    content: '';
    position: absolute;
    height: calc(var(--height-search) / 2);
    width: 1px;
    background: var(--shadow);
    top: calc(var(--height-search) / 4);
    right: 34px;
  }

  &:focus-within {
    box-shadow: 0 0 1px var(--shadow);
    border: 1px solid var(--primary);
  }
}

.search-result {
  width: 300px;
}

.search-title {
  font-size: 1.3rem;
  font-weight: 600;
  color: var(--shadow);
  cursor: default;
  border-bottom: 1px solid var(--bodder);
  user-select: none;
  padding: 8px;
}

.search-title:not(:first-child) {
  border-top: 1px solid var(--bodder);
}
