.container {
  height: 2000px;
  background-image: url(https://thumbs.dreamstime.com/b/old-geometric-seamless-pattern-vintage-vector-repeat-background-grunge-texture-62341931.jpg);
  background-size: 500px;
}
