@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

:root {
  --primary: #1ec5af;
  --second: rgba(79, 195, 179, 0.1);
  --third: #f1f1f2;
  --white: #fff;
  --black: #000;
  --text: #333;
  --height-header: 60px;
  --shadow: #939393;
  --hover: rgba(22, 24, 35, 0.03);
  --bodder: #dbdbdb;
  --notify: #eb1d57;
  --news: #e01bb4;
  --qna: #252eef;
  --review: #28e1e8;
  --discuss: #1ee865;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--primary);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

button,
input,
[tabindex] {
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: 'Open Sans', sans-serif;
  line-height: 2rem;
  margin: 0;
  padding: 0;
  font-weight: 600;
}

.ratio {
  position: relative;

  .img-in-ratio {
    position: absolute;
    background-position: 50%;
    background-repeat: no-repeat;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-size: 100% 100%;
  }
}

.ratio:before {
  content: '';
  display: block;
  padding-top: 143.3333333333%;
  width: 100%;
}
